<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        function debounce() {
            let timer;

            return function (value) {
                clearTimeout(timer)
                timer = setTimeout(() => {
                    console.log(value)
                }, 5000);
            }
        }

        const debounceLog = debounce()

        debounceLog("Gnanashekar")
    </script>
</body>
</html>